.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 100px;
  align-self: center;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
}

/*
  Set the color of the icon
*/
.svg path:global,
.svg rect :global {
  fill: #20847e;
}
